{% extends 'base.html' %}

{% block title %}Рецепт{% endblock %}

{% block content %}
        <form method="post" enctype="multipart/form-data">
            <h1 class="all_title">{{ recipe.name }}</h1>
            <img class="one_recipe_img" src="/media/{{ recipe.image }}" />
                <p class="text_margin">{{ recipe.description }}</p>
                <h2 class="small_title"> Ингредиенты: </h2>
                <div class="text_margin border">
                     <p >{{ recipe.products|linebreaks }}</p>
                </div>
                <h3 class="small_title"> Время приготовления: </h3>
                <p class="text_margin border"> {{ recipe.cooking_time }} минут</p>
                <h2 class="small_title"> Приготовление блюда по шагам: </h2>
                <div class="text_margin border">
                    <p >{{ recipe.cooking_steps|linebreaks }}</p>
                </div>
            <div class="change_link">
            <a class="link all_recipes_describ" href={% url 'user_check' recipe.id %}>
                    (Редактирование рецепта)</a>
            </div>
        </form>
{% endblock %}